.emacs.desktop
.emacs.desktop.lock
_flycheck_init.el
.cache/
.dap-breakpoints
.lsp-session-v1
auto-save-list
eln-cache/
elpa/
eshell/
geben/
projectile.cache
projectile-bookmarks.eld
projects
session*
tramp
transient/
url/
